.main-page-header {
  min-height: 280px;
  background-image: linear-gradient(90deg, #20345A 0, #476991 100%);

  section {
    padding-top: 135px;

    h3 {
      color: #fff;
      font-size: 29px;
      font-weight: 400;
      text-align: center
    }
  }
}
