<div class="main-page-header">
  <section class="container">
    <h3 class="customFadeInUp">
      Why join Fifty Seven Media?
    </h3>
  </section>
</div>

<div class="spacial-features" data-scroll>
  <section class="container">
    <div class="row">
      <div class="col-12">
        <div class="header">
          <p>
            Our goal as a label is to help independent artists who do not have
            the resources to share their music with the world. We want
            to work with as many artists as possible, so we don't care how many
            fans you have or even if you are just starting. The only requirement
            we have is that you have a passion for music and that you put
            yourself into your songs.
            <br /><br />
            <b>If you are interested in joining our label please email me at
            <a href="mailto:michael.stclair@fiftyseven.media">
            michael.stclair@fiftyseven.media</a></b>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="feature">
          <h3>
            <i class="far fa-pen fa-lg green"></i>
            Full Creative Control
          </h3>
          <p>
            When working with us we will never limit your music.
            It is your music and we treat it that way. We want you to
            express yourself in whatever way you feel is best.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="feature">
          <h3>
            <i class="far fa-globe fa-lg blue"></i>
            Distribution
          </h3>
          <p>
            We can distribute your music to all of the major music services
            including iTunes and Spotify allowing you to
            reach fans all over the world.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="feature">
          <h3>
            <i class="far fa-microphone-alt fa-lg purple"></i>
            Recording Services
          </h3>
          <p>
            We can record, mix, and master your release allowing us to help
            you all the way through the process of creating and releasing
            an album.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="feature">
          <h3>
            <i class="far fa-life-ring fa-lg orange"></i>
            Support
          </h3>
          <p>
            We consider all of our artists friends and we are here to help.
            We will provide support in anything you need to help you share your
            music.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
