<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="title">
          Pages
        </div>
        <ul class="menu">
          <li>
            {{#link-to "music.artists"}}
              Artists
            {{/link-to}}
          </li>
          <li>
            {{#link-to "music.releases"}}
              Releases
            {{/link-to}}
          </li>
          <li>
            {{#link-to "music.join"}}
              Join
            {{/link-to}}
          </li>
          <li>
            {{#link-to "login"}}
              Creator Login
            {{/link-to}}
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="title">
          Connect with us
        </div>
        <ul class="menu">
        <li>
          <a href="https://www.facebook.com/fiftysevenmedia/" target="_blank">
            <i class="fab fa-facebook-square"></i>
            Facebook
          </a>
        </li>
          <li>
            <a href="https://www.youtube.com/channel/UCDF7gNQx_swi12B7Pi0cW-g" target="_blank">
              <i class="fab fa-youtube-square"></i>
              YouTube
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 newsletter">
        <div class="title">
          Thanks for visiting!
        </div>
      </div>
    </div>
    <div class="bottom">
      <ul>
        <li>{{#link-to "legal.privacy-policy"}}Privacy{{/link-to}}</li>
        <li>{{#link-to "legal.terms-of-use"}}Legal{{/link-to}}</li>
      </ul>
    </div>
  </div>
</footer>
